body {
    background-color: rgb(71, 18, 71);
}

h1 {
    color: lime;
    text-align: center;
    padding-bottom: 2px;
}

p {
    padding-top: 0;
    color: white;
    text-align: center;
    font-size: 25px; 
}

.white {
    width: 100%;
    height: 3px;
    color: white;
    background-color: white;
    padding: 0;
}

.decor {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
    gap: 35px;
    background-image: url("../images/skyscape.jpg");
}

.star {
    width: 100px;  
    aspect-ratio: 1;
    background: #F8CA00;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
    border: 2px solid white; 
  }

  .introduction {
    color: lime;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .main, .services {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
  }

  .main .barista {
    border: 5px solid lime;
    height: 90%;
  }

  .owners {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .owner1, .owner2 {
    width: 400px;
    border: 5px solid lime;
  }

  .names {
    display: flex;
    gap: 350px;
    align-items: center;
    justify-content: center;
  }

  .names p {
    color: white;
  }

  .ladies {
    color: lime;
  }

  .services img {
    border: 5px solid lime;
  }

  .lime {
    color: lime;
  }

  .hours {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
  }

  label {
    color: white;
  }

  .spinning-item {

    animation: spin 2s linear infinite;
  
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }